*{
    padding: 0px;
    margin: 0px;
}

.changePasswordSection
{
    margin-left: 90px;
    width: 80%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftSideChangePassword
{
    width: 80%;
    height: 600px;
}
.leftSideChangePassword img{
    width: 700px;
    height: 600px;
    
}
.rightSideChangePassword
{
    width: 400px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerRightSideChangePassword{
    width: 600px;
    height: 500px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.formChangePassword img
{
    margin-left: 70px;
}
.formChangePassword h2
{
    margin-top: 20px;
    margin-left: 20px;
}

.formChangePassword{
    width: 350px;
}
.headingChangePassword
{
    display: grid;
    align-items: center;
    justify-items: center;
}
.headingChangePassword img{
    margin-right: 40px;
}
.input-div-login label
{
    margin-left: 30px;
}

.formChangePassword button
{
    width: 100%;
	padding: 12px;
	border: none;
	border-radius: 25px;
	background-image: linear-gradient(to right,#44be2c, #44be2c, #66d338);
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	background-position: right;
}

.upload-container {
    border-radius: 10px;
    text-align: center;
    width: 350px;
    margin-bottom: 20px;
}

.upload-box {
    border: 2px dashed grey;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color:grey;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.upload-box:hover {
    background-color: #ebffea;
}

.hidden {
    display: none;
}

.photoName
{
    font-size: 20px;
}

