@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    font-family: Arial, sans-serif;
}

.product
{
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 2px rgb(172, 171, 171);
    margin-top: 30px;
}
.bigImage{
    width: 250px;
    height: 210px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px 10px 0px 0px;
}
.product h4
{
    padding-left: 8px;
}
.product p{
    margin-left: 6px;
    font-size: 15px;
}
.productPay{
    margin-right: 10px;
    color: #fc8804;
}
#addtoCart
{
    width: 210px;
    height: 40px;
    background-color: #21b819;
    border: none;
    margin-left: 20px;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    font-size: 17px;
}
.productName
{
    width: 250px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}
.veg-qoute
{
    font-weight: 800px;
    color: grey;
}
.stars{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.stars img
{
    width: 75px;
    height: 20px;
    object-fit: contain;
}
.commentIcon
{
    margin-right: 10px;
}